@import '../../scss/mixins/mixins';

.snackbar {
    padding: 12px 24px;
    margin: 20px;
    border-radius: 8px;
    display: inline-block;
    @include shadow(2px 2px 5px 1px rgba(0,0,0,0.1));
    position: fixed;
    z-index: 999;

    p {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
    }
}
